/* Author: Vijith */


/* fontfamiily */
@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: sticky;
    top: 0;
}

.banner {
    background-image: url('../images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
}

.svg-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}